/* App.css or Modal.css */

/* Adjust table font size and padding for small screens */
@media (max-width: 768px) {
    .table th,
    .table td {
      font-size: 12px;
      padding: 5px;
    }
  
    .btn {
      font-size: 10px;
      padding: 5px 10px;
    }
  
    .btn-link {
      font-size: 14px;
    }
  }
  
  /* Adjust modal padding and margin for small screens */
  @media (max-width: 768px) {
    .MuiBox-root {
      padding: 10px !important;
      margin: 5% auto !important;
    }
  }
  